@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SBAggroB";
  src: url("/fonts/SBAggroB-Regular.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroB";
  src: url("/fonts/SBAggroB-Bold.woff") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroB";
  src: url("/fonts/SBAggroB-light.woff") format("opentype");
  font-weight: light;
  font-style: normal;
}

@layer utilities {
  .grid-rows-layout {
    grid-template-rows: 80px 1fr 60px; /* Header, Content, Footer */
  }

  .grid-cols-layout {
    grid-template-columns: 250px 1fr; /* Sidebar, Main Content */
  }
}
